
.rslides {
  margin: 0 auto ;
  }
.contenedor .aux img {
  width:100%;
  border: 0;
  }
  .fotosCarusel{
    margin-top 80px;
    text-align:center;
  }
.rslides.aux.rslides1.rslides2{
    margin-top:-10px;
    display:inline-block;
}
.descripcionFoto{
  height:100%;
  text-align:left;
  background-color:#F0F0F0;
  font-size: 1rem;
  display:inline-block;
  width:25%;
  margin-top: -10px;
  vertical-align:top;
  padding 1rem
  box-sizing:border-box;
  
}
.tituloFoto{
  text-align:left;
  font-size:1.2rem
  margin: 0 0 1rem 0 ;
}
.contenedor{
  position:relative;
  width:60%;
  z-index 10;
  display:inline-block;
  vertical-align: top;
  text-align: center;
  max-width: 784px;
  position: relative;
  margin: 0px  auto;
}
.obrasTitleE.fotitos{
  position: absolute;
  display:block;
  right:0;
  top:-4.5rem;
  width: 300px;
  
}
#sliderF {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
  }

.rslides_tabs {
  list-style: none;
  padding: 0;
  background: #F0F0F0;
  list-style: none;
  margin: 20px 0 60px 0 ;
  width: auto;
  padding: 10px 0;
  text-align: center;
  }

.rslides_tabs li {
  border: 2px solid white;
  vertical-align: top;
  display: inline;
  float: none;
  margin-right: 1px;
  }

.rslides_tabs a {
  border: 3px solid white;
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
  }

.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
  }

a {
  color: black;
  text-decoration: none;
  }

#slider3-pager a {
  display: inline-block;
}

#slider3-pager img {
  float: left;
}

#slider3-pager .rslides_here a {
  background: transparent;
  box-shadow: 0 0 0 3px #aaa;
}

#slider3-pager a {
  padding: 0;
}
a.rslides_nav.rslides2_nav.prev{
  background-image: url('../img/prev.png');
  background-size: 50px 92px;
  background-repeat: no-repeat;
  display: inline-block;
  font-size: 0;
  width: 50px;
  height: 92px;
  position: absolute;
  top:30%;;
  left: 0;
  z-index: 6;
}
a.rslides_nav.rslides2_nav.next{
  background-image: url('../img/next.png');
  background-size: 50px 92px;
  background-repeat: no-repeat;
  display: inline-block;
  font-size: 0;
  width: 50px;
  height: 92px;
  position: absolute;
  top:30%;
  right: 0;
  z-index: 6;
}

