
.rslides {
  margin: 0 auto;
  }

.rslides_container {
  position: relative;
  float: left;
  width: 100%;
  }

.Cuerpo-imagen .centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  position: absolute;
  z-index: 6;
  bottom: 65px;
  left:0;
  right: 0;
  margin-top: 10px;
  text-align: center;
  padding-right: 160px
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
/*  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;*/
  border: 4px solid rgba(255,255,255, 1) ;
  background-color:rgba(255,255,255, 0.8);
  display: inline-block;
  transform: rotate(45deg);
  _display: block;
  *display: block;
/*  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);*/
  width: 10px;
  height: 10px;
  }

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: rgba(249, 0, 19, 1);
  display: inline-block;
/*  background: rgba(0,0,0, .8);*/
  }
