<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="shortcut icon" type="image/x-icon" href="../statics/img/favicon.ico">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" href="../statics/css/estilos.css">
</head>
<body>
<header class="Cabecera">
	<div class="Cabecera-social">
		<a class="Cabecera-socialContainer" href="#">
			<img class="Cabecera-socialLink" src="../statics/img/logoFacebook.png"  width="30" height="30" alt="Imagen Social">
		</a>
		<a class="Cabecera-socialContainer" href="#">
			<img class="Cabecera-socialLink" src="../statics/img/logoTwiter.png"  width="30" height="30" alt="Imagen Social">
		</a>
		<a class="Cabecera-socialContainer" href="#">
			<img class="Cabecera-socialLink" src="../statics/img/logoYouTube.png"  width="30" height="30" alt="Imagen Social">
		</a>
		<a class="Cabecera-socialContainer" href="#">
			<img class="Cabecera-socialLink" src="../statics/img/logoRedSocial.png"  width="30" height="30" alt="Imagen Social">
		</a>
	</div>
	<nav class="Cabecera-navegacion">
		<div class="Cabecera-logoConteiner animated infinite">
			<a href="index.html" >
				<img class="Cabecera-logo animated bounceInDown" src="../statics/img/logoEcoPeru.png" alt="Logo EcoPerú">
			</a>
			<div class="Cabecera-contenedorObras">
			<a href="obrasEjecutadas.html" class="Cabecera-enlaceObra animated swing ">RECREO TURÍSTICO</a>
			<a href="obrasEnEjecucion.html" class="Cabecera-enlaceObra ejecucion animated swing">PAQUETES TURÍSTICOS</a>
		</div>

		</div>
	<a  href="#" class="Cabecera-button icon-list" id="showMenu">
		</a>
		<ul class="Cabecera-navegacionList" id="menu">
			<li class="Cabecera-navegacionItem">
				<a class="Cabecera-navegacionLink"href="index.html">
				INICIO
					<div class="u-triangle"></div>
				</a>
			</li>
			<li class="Cabecera-navegacionItem">
				<a class="Cabecera-navegacionLink"href="quienesSomos.html">
				QUIENES SOMOS
					<div class="u-triangle"></div>
				</a>
			</li>
			<li class="Cabecera-navegacionItem">
				<a class="Cabecera-navegacionLink"href="especialidades.html">
				RECREO
					<div class="u-triangle"></div>
				</a>
			</li>
			<li class="Cabecera-navegacionItem">
				<a class="Cabecera-navegacionLink"href="equipos.html">
				PAQUETES
					<div class="u-triangle"></div>
				</a>
			</li>
			<li class="Cabecera-navegacionItem">
				<a class="Cabecera-navegacionLink"href="fotos.html">
				FOTOS
					<div class="u-triangle"></div>
				</a>
			</li>
			<li class="Cabecera-navegacionItem">
				<a class="Cabecera-navegacionLink"href="contactanos.html">
				CONTÁCTANOS
					<div class="u-triangle"></div>
				</a>
			</li>
		</ul>
	</nav>
</header>

<section class="Cuerpo">
	<div class="Cuerpo-imagenFondoInicio">
		<ul class="rslides" id="slider1">
		  <li><img class="imagenInicio" src="../statics/img/inicio/1.jpg" alt=""></li>
		  <li><img class="imagenInicio" src="../statics/img/inicio/2.jpg" alt=""></li>
		  <li><img class="imagenInicio" src="../statics/img/inicio/3.jpg" alt=""></li>
		</ul>
		<div class="Cuerpo-textoComplemento">
			<p>Calidad y amabilidad  </br> en nuestros servicios</p>
		</div>
	</div>

</section>
<footer class="Pie">
	<p class="Pie-text">RECREO TURÍSTICO EL OTORONGO</p>
	<p class="Pie-text">DERECHOS RESERVADOS 2014</p>
	<div class="Pie-busqueda">
		<label for="buscar" class="Pie-busquedaText">BUSCAR</label>
		<input type="search" id="buscar">
		<input type="submit" value="+" class="Pie-busquedaPlus">
	</div>
<!--<script type="text/javascript" src="../statics/js/hammer.min.js"></script> -->
	<script type="text/javascript" src="../statics/js/jquery-2.1.1.js"></script>
	<script type="text/javascript" src="../statics/js/responsiveslides.min.js" ></script>
	<script type="text/javascript" src="../statics/js/codiguito.js"> </script>
</footer>	
</body>
</html>